[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dformula"]
	path = dformula
	url = https://github.com/serafinialessio/dformula
